<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Cadastrar Novo Usuário</title>
</head>

<body>
    <div class="container">
        <h1>Cadastrar Novo Usuário</h1>
        <form id="cadastro-form" action="/salvar" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required oninput="checkPasswords()">
                <span class="toggle-password" onclick="togglePassword('password', this)">👁️</span>
                <div class="tooltip" id="passwordTooltip">Digite sua senha.</div>
            </div>

            <label for="passwordConfirmation">Password Confirmation:</label>
            <div class="password-container">
                <input type="password" id="passwordConfirmation" name="passwordConfirmation" required oninput="checkPasswords()">
                <span class="toggle-password" onclick="togglePassword('passwordConfirmation', this)">👁️</span>
                <div class="tooltip" id="confirmationTooltip">Confirme sua senha.</div>
            </div>

            <label for="data-nascimento">Data de Nascimento:</label>
            <input type="date" id="data-nascimento" name="data-nascimento" required>

            <label for="endereco">Endereço:</label>
            <input type="text" id="logradouro" name="logradouro" placeholder="Logradouro" required>
            <input type="text" id="numero" name="numero" placeholder="Número" required>
            <input type="text" id="quadra" name="quadra" placeholder="Quadra">
            <input type="text" id="lote" name="lote" placeholder="Lote">
            <input type="text" id="bairro" name="bairro" placeholder="Bairro" required>
            <input type="text" id="cep" name="cep" placeholder="CEP" required>
            <input type="text" id="cidade" name="cidade" placeholder="Cidade" required>
            <input type="text" id="estado" name="estado" placeholder="Estado" required>

            <div class="button-container">
                <form action="/salvar" method="post">
                    <button type="submit">Salvar</button>
                </form>
                <form action="/login" method="get">
                    <button type="submit2">Voltar ao Login</button>
                </form>
            </div>
        </form>
    </div>
    <script>
        function togglePassword(inputId, icon) {
            const input = document.getElementById(inputId);
            if (input.type === "password") {
                input.type = "text";
                icon.textContent = "🙈"; // Ícone para "ocultar senha"
            } else {
                input.type = "password";
                icon.textContent = "👁️"; // Ícone para "mostrar senha"
            }
        }
        function checkPasswords() {
            const password = document.getElementById('password').value;
            const passwordConfirmation = document.getElementById('passwordConfirmation').value;

            const passwordTooltip = document.getElementById('passwordTooltip');
            const confirmationTooltip = document.getElementById('confirmationTooltip');

            if (passwordConfirmation === "") {
                confirmationTooltip.textContent = "Confirme sua senha.";
                return;
            }

            if (password === passwordConfirmation) {
                confirmationTooltip.textContent = "As senhas são idênticas.";
                confirmationTooltip.style.backgroundColor = "green";
            } else {
                confirmationTooltip.textContent = "As senhas não coincidem.";
                confirmationTooltip.style.backgroundColor = "red";
            }
        }
    </script>
</body>

</html>