<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login - E-commerce de Celulares</title>
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form id="login-form" action="/confirmarLogin" method="post">
            <label for="usuario">Usuário:</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <div class="button-container">
                <button type="submit">Confirmar</button>
            </div>
        </form>
        <div class="button-container">
            <form action="/cadastrar" method="get">
                <button type="submit2">Cadastrar Novo Usuário</button>
            </form>
        </div>

    </div>
</body>

</html>